@media (max-width: 1199px) {
  .prev,
  .next {
    display: none;
  }
  .tns-nav {
    display: flex;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 753px;
  }
  .header {
    &__phone {
      &:hover {
        color: $text-color;
      }
    }
  }
  .button {
    &:hover {
      color: $text-color;
    }
  }
  .promo {
    &__link {
      &:hover {
        color: $text-color;
      }
      a:hover {
        color: $text-color;
      }
    }
  }
  .advantages {
    &__description {
      a:hover {
        color: #ff0000;
      }
    }
  }
  .catalog {
    &__tab {
      &:hover {
        box-shadow: none;
        border: 0.1em solid #d0d0d0;
      }
    }
    &-item {
      padding: 9px 12px 9px 12px;
      width: 243px;
      min-height: 414px;
      &:hover {
        box-shadow: none;
        border-color: rgba($color: $border-color, $alpha: 1);
      }
      &__wrapper {
        min-height: 315px;
        width: calc(200% + 24px);
      }
      &__list {
        padding-right: 12px;
        ul {
          li {
            margin-bottom: 15px;
            width: 186px;
            font-size: 13px;
            line-height: 18px;
          }
        }
      }
      &__back {
        transform: translateX(calc(-50% - 12px));
        font-size: 12px;
        line-height: 12px;
        &:hover {
          color: $main-color;
          border-bottom: 1px solid $main-color;
        }
      }
      &__subtitle {
        margin-top: 12px;
        font-size: 15px;
      }
      &__description {
        margin-top: 12px;
        font-size: 12px;
      }
      &__link {
        width: 75px;
        font-size: 12px;
        line-height: 12px;
        &:hover {
          color: $main-color;
          border-bottom: 1px solid $main-color;
        }
      }
      hr {
        margin-bottom: 15px;
        margin-top: 15px;
      }
      &__old-price {
        font-size: 13px;
      }
      &__price {
        font-size: 15px;
      }
    }
  }
  .button {
    &_buy {
      width: 102px;
      font-size: 13px;
    }
  }
  .reviews {
    &-text {
      &__subtitle {
        margin-top: 6px;
        font-size: 13px;
      }
      &__main {
        font-size: 14px;
      }
    }
  }
  .footer {
    &__info {
      width: 420px;
      min-height: 255px;
    }
    &__address {
      font-size: 18px;
      line-height: 18px;
      &:hover {
        color: $text-color;
      }
    }
    &__phone {
      font-size: 18px;
      line-height: 18px;
      &:hover {
        color: $text-color;
      }
    }
    &__social {
      &-item {
        width: 45px;
        height: 45px;
        img {
          height: 24px;
        }
      }
      a:hover {
        filter: invert(0%);
      }
    }
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 558px;
  }
  .header {
    &__logo {
      width: 180px;
    }
    &__official {
      font-size: 9px;
      span {
        font-size: 15px;
      }
    }
    &__phone {
      display: block;
      font-size: 17px;
    }
  }
  .title {
    &_left {
      font-size: 30px;
      line-height: 30px;
    }
  }
  .promo {
    min-height: 630px;
    &__subheader {
      font-size: 21px;
    }
    &__icons {
      margin-top: 48px;
      width: 420px;
      img {
        margin-bottom: 18px;
      }
    }
    &__link {
      margin-top: 12px;
      font-size: 15px;
    }
  }
  .button {
    &_main {
      margin-top: 51px;
      width: 246px;
    }
  }
  .advantages {
    &__item {
      width: 165px;
    }
    &__title {
      margin-top: 33px;
      font-size: 15px;
    }
    &__description {
      margin-top: 18px;
      font-size: 12px;
      font-weight: 500;
      text-align: center;
      line-height: 16px;
      a {
        white-space: nowrap;
      }
    }
  }
  .consultation {
    &__description {
      font-size: 18px;
      line-height: 21px;
    }
  }
  .carousel {
    .tns-item {
      img {
        max-width: 555px;
      }
    }
  }
  .catalog {
    padding: 45px 0 66px 0;
    &-item {
      min-height: 408px;
      &__wrapper {
        min-height: 306px;
      }
    }
    &__content {
      margin-top: 42px;
      padding: 0px 27px;
    }
    &__tabs {
      margin-top: 48px;
    }
    &__tab {
      width: 159px;
      font-size: 15px;
    }
  }
  .reviews {
    &__items {
      margin-top: 54px;
      hr {
        margin: 39px 0;
      }
    }
    &-item {
      margin-right: 6px;
      &__img {
        margin-right: 24px;
      }
    }
    &-text {
      &__title {
        font-size: 15px;
        line-height: 15px;
      }
      &__subtitle {
        margin-top: 3px;
        font-size: 11px;
        line-height: 12px;
      }
      &__main {
        font-size: 12px;
        line-height: 17px;
      }
    }
  }
}

@media (max-width: 575px) {
  .container {
    max-width: 300px;
  }
  .header {
    &__official {
      display: none;
    }
    &__logo {
      width: 145px;
    }
    &__phone {
      font-size: 15px;
    }
  }
  .button {
    width: 142px;
    height: 34px;
    &_main {
      margin-top: 39px;
      width: 171px;
      height: 48px;
      font-size: 12px;
    }
    &_submit {
      margin-top: 27px;
      width: 171px;
      height: 48px;
      font-size: 12px;
    }
    &_buy {
      width: 102px;
    }
  }
  .promo {
    padding: 21px 0 57px 0;
    min-height: 597px;
    &__wrapper {
      margin-top: 63px;
      align-items: center;
    }
    &__header {
      font-size: 39px;
    }
    &__icons {
      margin-top: 39px;
      width: 306px;
      img {
        margin-bottom: 9px;
      }
    }
    &__icon {
      font-size: 12px;
    }
    &__link {
      margin-top: 6px;
      font-size: 12px;
    }
  }
  .title {
    font-size: 27px;
    &_left {
      font-size: 20px;
      line-height: 27px;
      text-align: center;
    }
  }
  .advantages {
    &_style {
      padding: 33px 0 57px 0;
    }
    &__items {
      margin-top: 37px;
      flex-direction: column;
      align-items: center;
    }
    &__item {
      margin-bottom: 24px;
      width: 255px;
      &:nth-child(3) {
        margin-bottom: 0;
      }
    }
    &__title {
      margin-top: 12px;
      line-height: 15px;
    }
    &__description {
      margin-top: 12px;
      text-align: center;
      line-height: 18px;
    }
  }
  .consultation {
    min-height: 538px;
    padding: 33px 0 57px 0;
    &__description {
      margin-top: 45px;
      font-size: 12px;
      line-height: 18px;
      text-align: center;
    }
  }
  .feed-form {
    margin-top: 15px;
    align-items: center;
    input {
      width: 90%;
      height: 48px;
      font-size: 12px;
    }
  }
  .carousel {
    padding: 66px 0 18px 0;
    .tns-item {
      img {
        max-width: 306px;
      }
    }
  }
  .catalog {
    &__tabs {
      margin-top: 36px;
    }
    &__tab {
      width: 84px;
      height: 36px;
      font-size: 9px;
    }
    &__content {
      margin-top: 30px;
    }
    &-item {
      min-height: 387px;
      img {
        height: 168px;
      }
      &__wrapper {
        min-height: 282px;
      }
    }
  }
  .reviews {
    &-items {
      margin-top: 45px;
    }
    &-item {
      margin-right: 0;
      flex-direction: column;
      align-items: center;
      &__img {
        margin-right: 0;
      }
    }
    &-text {
      margin-top: 18px;
      &__title {
        text-align: center;
      }
      &__subtitle {
        text-align: center;
      }
      &__main {
        text-align: center;
      }
    }
  }
  .footer {
    &__info {
      padding: 39px 36px 46px 36px;
      width: 100%;
      min-height: 252px;
    }
    &__address {
      font-size: 18px;
      line-height: 18px;
    }
    &__phone {
      font-size: 18px;
      line-height: 18px;
    }
    &__social {
      &-item {
        width: 45px;
        height: 45px;
        img {
          height: 24px;
        }
      }
    }
  }
  .modal {
    padding: 24px 12px 24px 12px;
    width: 320px;
    min-height: 341px;
    &__subtitle {
      font-size: 16px;
      line-height: 21px;
    }
    &__description {
      font-size: 12px;
    }
    .feed-form {
      margin: 0 auto;
      margin-top: 12px;
      width: 288px;
      input {
        margin-bottom: 12px;
      }
    }
    .button_submit {
      margin-top: 12px;
    }
    &__close {
      top: 5px;
      right: 5px;
      transform: translateX(0%);
    }
    &_mini {
      padding: 33px 12px 24px 12px;
      min-height: 120px;
    }
  }
  .pageup {
    opacity: 0;
  }
}
