@import "base/variables";
@import "base/mixins";

* {
  font-family: "Museo Sans Cyrl", sans-serif;
}
.container {
  position: relative;
  max-width: 950px;
  margin: 0 auto;
}
@import "blocks/promo";
@import "blocks/header";
@import "blocks/buttons";
@import "blocks/advantages";
@import "blocks/title";
@import "blocks/consultation";
@import "blocks/forms";
@import "blocks/carousel";
@import "blocks/catalog";
@import "blocks/reviews";

@import "base/media";
