@font-face {
  font-family: "Museo Sans Cyrl";
  src: url("../fonts/MuseoSansCyrl-700.eot");
  src: local("../fonts/MuseoSansCyrl-700"),
    url("../fonts/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"),
    url("../fonts/MuseoSansCyrl-700.woff2") format("woff2"),
    url("../fonts/MuseoSansCyrl-700.woff") format("woff"),
    url("../fonts/MuseoSansCyrl-700.ttf") format("truetype"),
    url("../fonts/MuseoSansCyrl-700.svg#MuseoSansCyrl-700") format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Museo Sans Cyrl";
  src: url("../fonts/MuseoSansCyrl-500.eot");
  src: local("../fonts/MuseoSansCyrl-500"),
    url("../fonts/MuseoSansCyrl-500.eot?#iefix") format("embedded-opentype"),
    url("../fonts/MuseoSansCyrl-500.woff2") format("woff2"),
    url("../fonts/MuseoSansCyrl-500.woff") format("woff"),
    url("../fonts/MuseoSansCyrl-500.ttf") format("truetype"),
    url("../fonts/MuseoSansCyrl-500.svg#MuseoSansCyrl-500") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Museo Sans Cyrl";
  src: url("../fonts/MuseoSansCyrl-300.eot");
  src: local("../fonts/MuseoSansCyrl-300"),
    url("../fonts/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"),
    url("../fonts/MuseoSansCyrl-300.woff2") format("woff2"),
    url("M../fonts/useoSansCyrl-300.woff") format("woff"),
    url("../fonts/MuseoSansCyrl-300.ttf") format("truetype"),
    url("../fonts/MuseoSansCyrl-300.svg#MuseoSansCyrl-300") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
